.gradient {
    background: rgb(33, 43, 104);
    background: linear-gradient(180deg, rgba(33, 43, 104, 1) 0%, rgba(40, 50, 119, 1) 35%, rgba(50, 64, 159, 1) 100%);
    width: 100%;
    min-width: 340px;
    
}

div.back {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.pad-top {
    padding-top: 40px;
}

.inp {
    border-radius: 10px;
    margin: 7px;
    width: 60%;
    padding-top: 3px;
}

.btn-inis {
    border-radius: 10px;
    margin: 7px;
}

.btn-google {
    border-radius: 10px;
    margin: 7px;
    max-width: 200px;
}

.yellow-button {
    background-color: #EBC409;
    width: 50%;
    color: #32409F;
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 110%;
    border-radius: 20px;
    height: 37px;
}

body {
    background-color: #EEE;
    color: #FFF;
    overflow: hidden;
}

h1 {
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 120%;
}

::placeholder {
    color: #32409F;
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 80%;
    padding-left: 1%;
}

h1#o {
    padding-top: 20px;
    padding-bottom: 20px;
}

div#reg-head {
    height: 5%;
    text-align: left;
}

.arrow-icon {
    min-height: 40px;
    max-height: 50%;
    margin-top: 10px;
    margin-left: 10%;
}


.arrow{
    width: 50%;
    max-width: 70px;
    max-height: 3.5empx;
    float: left;
    padding-left: 15%;
    
}

.logo{
    width: 2em;
    max-width: 50px;
    text-align: center;
    vertical-align: middle;
}

div.nav{
    height: 17%;
    max-height: 3.5em;
    min-height: 3em;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bell{
    max-height: 2em;
    min-height: .8em;
    float: left;
    padding-left: 15%;
}

.add{
    max-height: 1.5em;
    min-height: .8em;
    float: right;
    padding-right: 15%;
    
}

.conf{
    height: 17%;
    max-height: 230px;
    display: block;
    min-width: 272px;
    padding-top: 1em;
}

.arr-down{
    float: left;

}
.arrHome{
    float: right;

}

#backEventsHome{
    
    background-color: #ECECEC;
    border: 2px solid rgba(147, 147, 147, 0.5);
    max-width: 80%;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0%;
    padding-bottom: 5%;
    min-width: 272px;
}

.h1EventsHome{
    margin-left: 2em;
    float: left;
    text-align: -webkit-left;
    min-width: 262px;
    max-width: 262px;
}

.arr-up-down{
    width: 20%;
    max-width: 30px;
    max-height: 100px;
    min-width: 1.5em;
}

.arr-pad{
    padding-top: 5%;
}

.settings{
    width: 20%;
    max-width: 33px;
    max-height: 100px;
    min-width: 1.9em;
    float: right;
    margin-top: -0.05em;
}

@media (max-width: 580px) {
    .bell, .add {
        margin-top: 1%;
    }
  }

.subtitles{
    padding-top: 1%;
    font-size: 120%;
    font-family: "CodeNext", Arial, Helvetica, sans-serif;
    color: #FF3366;
    margin-left: 0%;
}

.calendar{
    border-color: rgba(255, 255, 255, 0);
}