.gradient {
    background: rgb(33, 43, 104);
    background: linear-gradient(180deg, rgba(33, 43, 104, 1) 0%, rgba(40, 50, 119, 1) 35%, rgba(50, 64, 159, 1) 100%);
    width: 120%;
    margin-left: -10%;
}

div.back {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.pad-top {
    padding-top: 40px;
}

.inp {
    border-radius: 10px;
    margin: 7px;
    width: 60%;
    padding-top: 3px;
}

.btn-inis {
    border-radius: 10px;
    margin: 7px;
}

.btn-google {
    border-radius: 10px;
    margin: 7px;
    max-width: 200px;
}

.yellow-button {
    background-color: #EBC409;
    width: 50%;
    color: #32409F;
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 110%;
    border-radius: 20px;
    height: 37px;
}

body {
    background-color: #EEE;
    color: #FFF;
}

h1 {
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 120%;
}

::placeholder {
    color: #32409F;
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    font-size: 80%;
    padding-left: 1%;
}

h1#o {
    padding-top: 20px;
    padding-bottom: 20px;
}

div#reg-head {
    height: 5%;
    text-align: left;
}

.arrow-icon {
    min-height: 40px;
    max-height: 50%;
    margin-top: 10px;
    margin-left: 10%;
}


/*.nav-head {}*/


.arrow{
    height: 10%;
    min-height: 40px;
    max-height: 50%;
}