#backEvents {
<<<<<<< Updated upstream
    margin-top: 5%;
    height: 200px;
    background-color: #ECECEC;
    border: 2px solid #FF3366;
    max-width: 80%;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

#h1Events {
    padding-top: 2%;
    font-size: 150%;
    font-family: "CodeNextItalic", Arial, Helvetica, sans-serif;
    color: #FF3366;
}

.col {
    color: #32409F;
    text-align: left;
    padding-top: 4px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #FF3366;
    border-radius: 50%;
    border: 3px solid #FF3366;
    display: inline-block;
}

.dot-fill {
    height: 25px;
    width: 25px;
    border: 3px solid #FF3366;
    border-radius: 50%;
    display: inline-block;
=======
    background-color: lawngreen;
    height: 100px;
>>>>>>> Stashed changes
}